{
  "printWidth": 100,
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true,
  "quoteProps": "consistent",

  "plugins": ["@ianvs/prettier-plugin-sort-imports"],

  "importOrder": [
    "<BUILTIN_MODULES>",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@/(.*)",
    "",
    "^[.][.]/",
    "^[.]/"
  ],
  "importOrderParserPlugins": ["typescript"],
  "importOrderCaseSensitive": false
}
